
h1{
    font-size: 60px;
    color: rgb(93, 116, 136);
     }
  
a{
    color: crimson;
}


body{
  
     background-image: url(background.webp);
        background-repeat: no-repeat;
        background-size: cover;
        
   }


